{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h1>ADD POST</h1>
    <div class="form-group">
    <form method='POST'>
        {% csrf_token %}
        {{ form.media  }}
        {{ form.as_p  }}
        
        <button  class="btn btn-secondary">Post</button>
    </div>

    {% comment %} <script>
        var name = "{{ user.username }}"
        document.getElementById("author_name").value=name;
    </script> {% endcomment %}
{% endif %}

{% endblock content %}
    
    