{% extends 'base.html' %}
{% block content %}


<body>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to Buddy Codes!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
      </div>

    <div class="row">
         {% for post in object_list %}
            <div class="col-md-4">
                <h2> {{ post.title }}</h2> <small> - {{ post.author }} - {{ post.post_date }} -
                     <a href = " {% url 'category' post.category %}" >{{ post.category }}</a> </small>
                <p>{{ post.body | slice:":200" | safe }}</p>
                <p><a class="btn btn-secondary" href="{% url 'article_detail' post.pk %}" role="button">View full »</a></p>
            </div>
        {% endfor %}
    </div>
        
{% endblock content %}